@{
    ViewData["Title"] = "Beer List";
}

<div class="text-center">
    <h1 class="display-4">Rotating Beer List</h1>
    <p>See all our rotating Draft and Canned selections</a>.</p>
</div>

<div>
    <h2>Draft</h2>
    <div>
        <h4>India Pale Ale</h4>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ABV</th>
                <th>IBU</th>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>

    <div>
        <h4>New England India Pale Ale</h4>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ABV</th>
                <th>IBU</th>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>

    <div>
        <h4>Pale Ale</h4>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ABV</th>
                <th>IBU</th>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>

    <div>
        <h4>Sour</h4>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ABV</th>
                <th>IBU</th>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>

    <div>
        <h4>Lager</h4>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ABV</th>
                <th>IBU</th>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>

</div>
